:root {
  --white: #f2e2e8;
  --dark: #381926;
  --hoverdark: #843b58;
  --hoverlight: #dc81a7;
  --light: #d6588d;
}

* {
  color: var(--light);
}

h1 {
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #381926;
}

.error {
  color: var(--dark);
  padding: 20px;
  background: rgb(255, 145, 145);
  border-radius: 6px;
  margin-bottom: 20px;
}

.success {
  color: var(--dark);
  padding: 20px;
  background: rgb(208, 255, 208);
  border-radius: 6px;
  margin-bottom: 20px;
}

[type='checkbox'] {
  opacity: 0;
}

[type='checkbox'] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
}

[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  outline: 1px solid var(--dark);
  border-radius: 2px;
  background: var(--white);
  left: 0;
  top: 5px;
}

[type='checkbox']:checked + label::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: var(--white);
  background-image: url('/Meetingbooking/assets/img/checkbox.png');
  background-size: contain;
  left: 0;
  top: 5px;
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s ease;
}

[type='checkbox']:not(:checked) + label::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: var(--white);
  background-image: url('/Meetingbooking/assets/img/checkbox.png');
  background-size: contain;
  left: 0;
  top: 5px;
  transform: scale(0);
  opacity: 0;
}

.facilities {
  margin-bottom: 0;
}

.app-header__bar {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 12px;
  flex-wrap: wrap;
  padding: 30px;
  min-height: 50px;
}

.app-header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
}

.app-header__title:hover {
  color: var(--hoverlight);
}

.app-header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.app-header__link {
  padding: 8px 12px;
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
}

.app-header__link:hover {
  color: var(--hoverlight);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  color: var(--dark);
}

input,
select {
  background: var(--white);
  padding: 12px;
  border: 1px solid var(--dark);
  border-radius: 6px;
  font-size: 12px;
  color: var(--dark);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.logout {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
}

.logged-in {
  text-align: right;
}

.login-box {
  padding: 30px 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.login-box h1 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.login-box label {
  display: block;
  margin: 12px 0 10px;
  font-weight: bold;
  color: var(--light);
  text-align: left;
}

.login-box input[type='text'],
.login-box input[type='password'] {
  padding: 12px;
  border: 1px solid var(--light);
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  text-align: center;
  margin: 2em 0 1em 0;
  width: 100%;
  background-color: var(--dark);
  color: var(--white);
  padding: 12px;
}

.add-button {
  background-color: var(--light);
  color: var(--dark);
}

.app-header__link--logout {
  padding: 0;
  text-align: right;
  color: var(--light);
}

button,
.app-header__link--logout {
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.18s ease-in-out;
}

.add-button:hover {
  color: var(--dark);
  background-color: var(--hoverlight);
}

.app-header__link--logout:hover {
  color: var(--hoverlight);
}

button:hover {
  background-color: var(--hoverdark);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-card {
  width: 30vw;
  background: var(--white);
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 0.5em 1.5em 1em 1.5em;
  color: var(--dark);
}

.content-card p,
.content-card h3,
.content-card label,
.content-card a {
  color: var(--dark);
}

form a {
  display: block;
  text-align: center;
  width: 100%;
}

.content-card a:hover {
  color: var(--hoverdark);
}

footer {
  margin-top: auto;
  min-height: 45px;
  background-color: var(--light);
  color: var(--dark);
  text-align: center;
  padding: 50px;
  font-size: 14px;
  bottom: 0;
}
